/* Conferences */
.conferences {
  &-item {
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }
}

.conference {
  &__information {
    margin: 2em 0;

    &::before {
      content: "";
      display: block;
      height: 0.2rem;
      width: 100%;
      background-image: var(--bullet-background);
      background-position: left -0.9rem center;
      background-repeat: repeat-x;
    }
  }
}

@mixin conference-large {
  .conference__information {
    &::before {
      background-position: center;
    }
  }
}
