<!doctype html>
<html lang="fr" class="no-js">
<head>
  <meta charset="utf-8">
  <title>
  {%- if page.url == '/' -%}
    {{ title | safe }}
  {%- else -%}
    {{ title | safe }} · {{ site.name }}
  {%- endif -%}
  </title>
  {%- if description %}
  <meta name="description" content="{{ description }}">
  {%- else %}
  <meta name="description" content="{{ site.description }}">
  {%- endif %}
  <meta name="author" content="Luc Poupard">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" media="screen" href="/styles/styles.css?v=202006272015">
  <script>document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + 'js ';</script>
  <script>
    if (localStorage.getItem('theme') !== null) {
      document.documentElement.setAttribute('data-theme', localStorage.getItem('theme'));
    } else {
      if (window.matchMedia("(prefers-color-scheme: light)").matches) {
        document.documentElement.setAttribute('data-theme', 'light');
      } else {
        document.documentElement.setAttribute('data-theme', 'dark');
      }
    }
  </script>
  {%- include "layouts/partials/head_favicons.njk" -%}
  {%- include "layouts/partials/head_opengraph.njk" -%}
  {%- include "layouts/partials/head_twitter-card.njk" -%}
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
</head>
<body id="top" role="document" itemscope itemtype="http://schema.org/WebPage">
  {%- include "layouts/partials/svg-sprite.njk" -%}
  {%- include "layouts/partials/navigation.njk" -%}

  <div class="site-content">
    <main id="content" role="main" itemprop="mainContentOfPage" class="site-main">
        {{ content | safe }}
    </main>

    {%- include "layouts/partials/footer.njk" -%}
  </div>

  {%- include "layouts/partials/theme-switcher.njk" -%}

  <script src="/scripts/index.js?v=202006122337"></script>
</body>
</html>
