{#-
https://developers.facebook.com/docs/sharing/webmasters
https://ogp.me/
-#}
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:title" content="{{ title }}" />
{%- if description %}
<meta property="og:description" content="{{ description }}" />
{%- else %}
<meta property="og:description" content="{{ site.description }}" />
{%- endif %}
{%- if ogimage %}
<meta property="og:image" content="{{ ogimage }}" />
<meta property="og:image:secure_url" content="{{ ogimage }}" />
{%- else %}
<meta property="og:image" content="{{ site.url }}{{ site.path.images }}/opengraph.png" />
<meta property="og:image:secure_url" content="{{ site.url }}{{ site.path.images }}/opengraph.png" />
{%- endif %}
<meta property="og:image:width" content="600" />
<meta property="og:image:height" content="314" />
{%- if ogtype %}
<meta property="og:type" content="{{ ogtype }}" />
{%- else %}
<meta property="og:type" content="website" />
{%- endif %}
{%- if date %} {#- NE MARCHE PAS / Voir extends https://mozilla.github.io/nunjucks/templating.html#template-inheritance -#}
<meta property="article:published_time" content="{{ date }}" />
<meta property="article:author" content="{{ site.url }}/" />
{%- endif %}
<meta property="og:site_name" content="{{ site.name }}" />
<meta property="og:locale" content="fr_FR" />
