<form action="#">
  <fieldset class="theme-switcher">
    <legend class="screen-reader-text">Thème</legend>

    <input type="radio" id="color-mode-dark" name="theme-mode" value="dark" class="screen-reader-text">
    <label for="color-mode-dark" data-value="dark" title="Mode sombre">
      <svg width="20" height="20" viewBox="0 0 24 24" class="svg-sprite" aria-hidden="true">
        <use xlink:href="#theme-dark" />
      </svg>
      <span class="screen-reader-text">Mode sombre</span>
    </label>

    <input type="radio" id="color-mode-light" name="theme-mode" value="light" class="screen-reader-text">
    <label for="color-mode-light" data-value="light" title="Mode clair">
      <svg width="20" height="20" viewBox="0 0 24 24" class="svg-sprite" aria-hidden="true">
        <use xlink:href="#theme-light" />
      </svg>
      <span class="screen-reader-text">Mode clair</span>
    </label>
  </fieldset>
</form>
