# Forcer le HTTPS
RewriteEngine on
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule (.*) https://www.kloh.ch/$1 [R=301,L]

# Rediriger non-WWW vers WWW
RewriteCond %{HTTP_HOST} ^kloh.ch$
RewriteRule (.*) https://www.kloh.ch/$1 [R=301,L]

# Erreurs
ErrorDocument 401 /401.html
ErrorDocument 403 /403.html
ErrorDocument 404 /404.html
ErrorDocument 500 /500.html

# Redirections
## Pages
RedirectPermanent /en /
RedirectPermanent /index-en.html /

RedirectPermanent /services /experiences/
RedirectPermanent /references /projets/
RedirectPermanent /cv-chef-de-projet-web-et-mobile /experiences/
RedirectPermanent /mentions-legales /credits/

RedirectPermanent /graphisme.php /projets/
RedirectPermanent /graphisme_couleur.php /projets/
RedirectPermanent /graphisme_bannieres-pixmania.php /projets/
RedirectPermanent /graphisme_b3yond-th3-r3al-world.php /projets/
RedirectPermanent /animation_tachikoma.php /projets/
RedirectPermanent /animation_parking.php /projets/
RedirectPermanent /animation_rockongaku.php /projets/
RedirectPermanent /webdesign_genealogie.php /projets/
RedirectPermanent /webdesign_timesplitters-games.php /projets/
RedirectPermanent /webdesign_scea-domaine-de-bassy.php /projets/
RedirectPermanent /webdesign_scea-anglade-bellevue.php /projets/
RedirectPermanent /webdesign_tsg-music.php /projets/
RedirectPermanent /webdesign_kloh-v2.php /projets/
RedirectPermanent /webdesign_video-games-records.php /projets/
RedirectPermanent /webdesign_pgr-photo-blog.php /projets/
RedirectPermanent /webdesign_prete-a-mettre.php /projets/
RedirectPermanent /webdesign_tachikomania.php /projets/

RedirectPermanent /pgrphotoblog /
RedirectPermanent /pgrphotoblog/(.*)$ /

## Blog
RedirectPermanent /blog /articles/
RedirectPermanent /blog/(.*)$ /articles/
RedirectPermanent /date/(.*)$ /articles/
RedirectPermanent /cat/(.*)$ /articles/
RedirectPermanent /tag/(.*)$ /articles/
RedirectPermanent /en/date/(.*)$ /articles/

RedirectPermanent /feed /feed.xml
RedirectPermanent /feed/atom /feed.xml

RedirectPermanent /benefices-de-la-vue-conversation-des-e-mails-1321 /articles/benefices-de-la-vue-conversation-des-e-mails/
RedirectPermanent /changement-de-domaine-981 /articles/changement-de-domaine/
RedirectPermanent /compass-import-concatenation-et-variables-353 /articles/compass-import-concatenation-et-variables/
RedirectPermanent /craw2013-conclusion-retours-et-impressions-678 /articles/craw2013-conclusion-retours-et-impressions/
RedirectPermanent /craw2013-evaluation-logiciel-libre-et-accessibilite-des-videos-2-1359 /articles/craw2013-evaluation-logiciel-libre-et-accessibilite-des-videos/
RedirectPermanent /craw2013-evaluation-logiciel-libre-et-accessibilite-des-videos-674 /articles/craw2013-evaluation-logiciel-libre-et-accessibilite-des-videos/
RedirectPermanent /craw2013-gestion-de-projet-584 /articles/craw2013-gestion-de-projet-methodes-et-enjeux/
RedirectPermanent /craw2013-gestion-de-projet-methodes-et-enjeux-584 /articles/craw2013-gestion-de-projet-methodes-et-enjeux/
RedirectPermanent /craw2013-html5-aria-et-accessibilite-web-479 /articles/craw2013-html5-aria-et-accessibilite-web/
RedirectPermanent /craw2013-mobilite-et-accessibilite-519 /articles/craw2013-mobilite-et-accessibilite/
RedirectPermanent /craw2013-utilisabilite-des-systemes-interactifs-614 /articles/craw2013-utilisabilite-des-systemes-interactifs/
RedirectPermanent /creer-plusieurs-pages-avec-photoshop-253 /articles/creer-plusieurs-pages-avec-photoshop/
RedirectPermanent /debuter-avec-sass-et-compass-68 /articles/debuter-avec-sass-et-compass/
RedirectPermanent /france-demonarchie-et-extremisme-syndical-1063 /articles/france-demonarchie-et-extremisme-syndical/
RedirectPermanent /hello-world-1 /articles/hello-world/
RedirectPermanent /homosexualite-et-parentalite-2-396 /articles/homosexualite-et-parentalite-2/
RedirectPermanent /homosexualite-et-parentalite-288 /articles/homosexualite-et-parentalite/
RedirectPermanent /importance-experience-utilisateur-820 /articles/importance-experience-utilisateur/
RedirectPermanent /kiwi-party-2013-accelerer-ses-pages-web-878 /articles/kiwi-party-2013-accelerer-ses-pages-web/
RedirectPermanent /kiwi-party-2013-css-livres-792 /articles/kiwi-party-2013-css-livres/
RedirectPermanent /kiwi-party-2013-du-zoning-ou-mockup-829 /articles/kiwi-party-2013-du-zoning-ou-mockup/
RedirectPermanent /kiwi-party-2013-google-analytics-integrateur-822 /articles/kiwi-party-2013-google-analytics-integrateur/
RedirectPermanent /kiwi-party-2013-pepins-et-accessibilite-827 /articles/kiwi-party-2013-pepins-et-accessibilite/
RedirectPermanent /la-tele-realite-drogue-du-peuple-270 /articles/la-tele-realite-drogue-du-peuple/
RedirectPermanent /le-pouvoir-des-feuilles-de-style-utilisateur-143 /articles/le-pouvoir-des-feuilles-de-style-utilisateur/
RedirectPermanent /les-petits-ruisseaux-font-les-grandes-rivieres-464 /articles/les-petits-ruisseaux-font-les-grandes-rivieres/
RedirectPermanent /merveilleuse-dematerialisation-997 /articles/merveilleuse-dematerialisation/
RedirectPermanent /paris-web-2013-ateliers-et-conclusion-1142 /articles/paris-web-2013-ateliers-et-conclusion/
RedirectPermanent /paris-web-2013-conferences-du-jeudi-1107 /articles/paris-web-2013-conferences-du-jeudi/
RedirectPermanent /paris-web-2013-conferences-du-vendredi-1139 /articles/paris-web-2013-conferences-du-vendredi/
RedirectPermanent /paris-web-2014-vue-du-spectateur-1457 /articles/paris-web-2014-vue-du-spectateur/
RedirectPermanent /paris-web-2014-vue-orateur-1398 /articles/paris-web-2014-vue-orateur/

RedirectPermanent /wp-content/uploads/2013/02/installation-ruby.png /images/articles/debuter-avec-sass-et-compass/installation-ruby.png
RedirectPermanent /wp-content/uploads/2013/02/installation-compass.png /images/articles/debuter-avec-sass-et-compass/installation-compass.png
RedirectPermanent /wp-content/uploads/2013/02/compass-projet.png /images/articles/debuter-avec-sass-et-compass/compass-projet.png
RedirectPermanent /wp-content/uploads/2013/02/compass-congrats.png /images/articles/debuter-avec-sass-et-compass/compass-congrats.png
RedirectPermanent /wp-content/uploads/2013/02/faceboo-suggestion.png /articles/le-pouvoir-des-feuilles-de-style-utilisateur/
RedirectPermanent /wp-content/uploads/2013/03/objet-convertir.png /images/articles/creer-plusieurs-pages-avec-photoshop/objet-convertir.png
RedirectPermanent /wp-content/uploads/2013/03/objet-dynamique.png /images/articles/creer-plusieurs-pages-avec-photoshop/objet-dynamique.png
RedirectPermanent /wp-content/uploads/2013/03/remplacer-contenu.png /images/articles/creer-plusieurs-pages-avec-photoshop/remplacer-contenu.png
RedirectPermanent /wp-content/uploads/2013/04/jpmengual.jpg /images/articles/craw2013-evaluation-logiciel-libre-et-accessibilite-des-videos/jpmengual.jpg
RedirectPermanent /wp-content/uploads/2013/10/tgv-lyria.jpg /images/articles/importance-experience-utilisateur/tgv-lyria.jpg
RedirectPermanent /wp-content/uploads/2013/10/tgv-lyria-signaletique.jpg /images/articles/importance-experience-utilisateur/tgv-lyria-signaletique.jpg
RedirectPermanent /wp-content/uploads/2013/11/conversation-email.png /images/articles/benefices-de-la-vue-conversation-des-e-mails/conversation-email.png
RedirectPermanent /wp-content/uploads/2013/11/iphone_sms_discussion.png /images/articles/benefices-de-la-vue-conversation-des-e-mails/iphone-sms-discussion.png

RedirectPermanent /wp-content/themes/kloh/tileicon.png /images/luc-poupard.png

## Autres contenus
RedirectPermanent /_temp/w3q/editeur/tiny-mce.html /w3q/editeur/tiny-mce.html

# Encodage
## Déclarer UTF-8 comme jeu de caractères par défaut (appliqué par défaut aux fichiers de type text/plain et text/html)
AddDefaultCharset utf-8

## Forcer l'encodage UTF-8 sur certains fichiers
<IfModule mod_mime.c>
    AddCharset utf-8 .css .js .json .jsonld .xml .rss .atom
</IfModule>

# Types MIME
# Associer un type MIME à certaines extensions
# Tip : pour forcer un type de fichier à être téléchargé : AddType application/octet-stream .extension

## JavaScript / JSON
# Écrase les types MIME text/javascript erronés
AddType application/javascript              js
AddType application/json                    json map
AddType application/ld+json                 jsonld

## SVG
# Requis pour les fonts SVG sur iPad : twitter.com/FontSquirrel/status/14855840545
AddType image/svg+xml                       svg svgz
AddEncoding gzip                            svgz

## Fonts
AddType  application/vnd.ms-fontobject      eot
AddType  application/x-font-ttf             ttf ttc
AddType  font/opentype                      otf
AddType  afont/woff                         woff
AddType  font/woff2                         woff2


## Audio
AddType audio/mp4                           m4a f4a f4b
AddType audio/ogg                           oga ogg opus

## Vidéo
AddType video/mp4                           f4v f4p m4v mp4
AddType video/ogg                           ogv
AddType video/webm                          webm
AddType video/x-flv                         flv

## Images
AddType image/x-icon                        ico
AddType image/jpeg                          jpeg jpg jpe JPG
AddType image/gif                           gif GIF

## Autres
AddType application/octet-stream            safariextz
AddType application/x-chrome-extension      crx
AddType application/x-opera-extension       oex
AddType application/x-web-app-manifest+json webapp
AddType application/x-xpinstall             xpi
AddType application/xml                     atom rdf rss xml
AddType image/webp                          webp
AddType image/x-icon                        cur
AddType text/cache-manifest                 appcache manifest
AddType application/manifest+json           webmanifest
AddType text/vtt                            vtt
AddType text/x-component                    htc
AddType text/x-vcard                        vcf

# Compression Gzip
<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE "application/ld+json"
    AddOutputFilterByType DEFLATE "application/manifest+json"
    AddOutputFilterByType DEFLATE "application/rdf+xml"
    AddOutputFilterByType DEFLATE "application/rss+xml"
    AddOutputFilterByType DEFLATE "application/schema+json"
    AddOutputFilterByType DEFLATE "application/vnd.geo+json"
    AddOutputFilterByType DEFLATE "application/vnd.ms-fontobject"
    AddOutputFilterByType DEFLATE "application/x-font-ttf"
    AddOutputFilterByType DEFLATE "application/x-javascript"
    AddOutputFilterByType DEFLATE "application/x-web-app-manifest+json"
    AddOutputFilterByType DEFLATE "application/xhtml+xml"
    AddOutputFilterByType DEFLATE "application/xml"
    AddOutputFilterByType DEFLATE "font/eot"
    AddOutputFilterByType DEFLATE "font/opentype"
    AddOutputFilterByType DEFLATE "image/bmp"
    AddOutputFilterByType DEFLATE "image/svg+xml"
    AddOutputFilterByType DEFLATE "image/vnd.microsoft.icon"
    AddOutputFilterByType DEFLATE "image/x-icon"
    AddOutputFilterByType DEFLATE "text/cache-manifest"
    AddOutputFilterByType DEFLATE "text/css"
    AddOutputFilterByType DEFLATE "text/html"
    AddOutputFilterByType DEFLATE "text/javascript"
    AddOutputFilterByType DEFLATE "text/plain"
    AddOutputFilterByType DEFLATE "text/vcard"
    AddOutputFilterByType DEFLATE "text/vnd.rim.location.xloc"
    AddOutputFilterByType DEFLATE "text/vtt"
    AddOutputFilterByType DEFLATE "text/x-component"
    AddOutputFilterByType DEFLATE "text/x-cross-domain-policy"
    AddOutputFilterByType DEFLATE "text/xml"
</IfModule>

# Cache des fichiers statiques
<IfModule mod_expires.c>
    ExpiresActive on

    ## Durée par défaut
    ExpiresDefault                              "access plus 1 month"

    ## HTML
    ExpiresByType text/html                     "access plus 0 seconds"

    ## Cache manifeste
    ExpiresByType text/cache-manifest           "access plus 0 seconds"

    ## Données
    ExpiresByType text/xml                      "access plus 0 seconds"
    ExpiresByType application/xml               "access plus 0 seconds"
    ExpiresByType application/json              "access plus 0 seconds"
    ExpiresByType application/ld+json           "access plus 0 seconds"

    ## Composants HTC
    ExpiresByType text/x-component              "access plus 1 year"

    ## Favicon
    ExpiresByType image/x-icon                  "access plus 1 year"

    ## Images, audio et vidéo
    ExpiresByType image/gif                     "access plus 1 month"
    ExpiresByType image/png                     "access plus 1 month"
    ExpiresByType image/jpg                     "access plus 1 month"
    ExpiresByType image/jpeg                    "access plus 1 month"
    ExpiresByType video/ogg                     "access plus 1 month"
    ExpiresByType audio/ogg                     "access plus 1 month"
    ExpiresByType video/mp4                     "access plus 1 month"
    ExpiresByType video/webm                    "access plus 1 month"

    ## Fonts
    ExpiresByType application/x-font-ttf        "access plus 1 year"
    ExpiresByType font/opentype                 "access plus 1 year"
    ExpiresByType application/x-font-woff       "access plus 1 year"
    ExpiresByType image/svg+xml                 "access plus 1 year"
    ExpiresByType application/vnd.ms-fontobject "access plus 1 year"

    ## CSS et JavaScript
    ExpiresByType text/css                      "access plus 1 month"
    ExpiresByType application/javascript        "access plus 1 month"

    ## Flux de syndication
    ExpiresByType application/rss+xml           "access plus 1 hour"
    ExpiresByType application/atom+xml          "access plus 1 hour"
</IfModule>

## Permettre le chargement des ressources non compressées
<IfModule mod_headers.c>
    <FilesMatch ".(js|css|xml|gz|html)$">
        Header append Vary: Accept-Encoding
    </FilesMatch>
</IfModule>

# Sécurité

## Interdire la lecture d'un répertoire sans fichier index
<IfModule mod_autoindex.c>
    Options -Indexes
</IfModule>

## Interdire l'accès au fichier htaccess
<Files .htaccess>
    Order allow,deny
    Deny from all
</Files>

<IfModule mod_headers.c>
    ## Bloquer les scripts qui ne sont pas sur le domaine du site
    Header set Content-Security-Policy "script-src 'self'"
    Header set Content-Security-Policy "base-uri 'self'"

    ## Bloquer l'intégration des pages du site dans une iframe
    Header always set X-FRAME-OPTIONS "DENY"

    # Désactiver la détection automatique du type de ressource
    Header always set X-Content-Type-Options "nosniff"

    Header always set Strict-Transport-Security "max-age=31536000"
    Header always set X-Xss-Protection "1; mode=block"
    Header always set Referrer-Policy "no-referrer"
</IfModule>
