---
layout: layouts/base.njk
title: Contact
permalink: contact/
---

<h1>Me contacter</h1>

<p>Rien de plus simple, vous pouvez me joindre <a href="mailto:co&#110;t%61&#99;%74&#64;&#107;%6coh%2ec&#104;">par e-mail</a> ou <a href="tel:+41791736198">par téléphone</a>.</p>

<p>Vous pouvez aussi facilement me retrouver à divers endroits de la toile&nbsp;:</p>

{% include "layouts/partials/profil.njk" %}
