---
layout: layouts/base.njk
title: Contact
permalink: contact/
---

<h1>Me contacter</h1>

<p>Rien de plus simple, vous pouvez me joindre <a href="mailto:co&#110;t%61&#99;%74&#64;&#107;%6coh%2ec&#104;">par e-mail</a> ou <a href="tel:+41791736198">par téléphone</a>.</p>

<p>Vous pouvez aussi facilement me retrouver à divers endroits de la toile&nbsp;:</p>

<ul>
  <li>Sur les réseaux sociaux avec mon compte professionnel sur <a href="https://www.linkedin.com/in/luc-poupard" rel="me external">LinkedIn&nbsp;<span class="screen-reader-text">(lien externe)</span></a> et mes comptes personnels sur <a href="https://framapiaf.org/@kloh" rel="me external">Mastodon&nbsp;<span class="screen-reader-text">(lien externe)</span></a> et <a href="https://bsky.app/profile/kloh.bsky.social" rel="me external">Bluesky&nbsp;<span class="screen-reader-text">(lien externe)</span></a>.</li>
  <li>Je participe à des projets ou partage des morceaux de codes sur <a href="https://github.com/kloh-fr" rel="me external">GitHub&nbsp;<span class="screen-reader-text">(lien externe)</span></a>, <a href="https://gitlab.com/kloh-fr" rel="me external">GitLab&nbsp;<span class="screen-reader-text">(lien externe)</span></a> ainsi que <a href="https://codepen.io/kloh" rel="me external">CodePen&nbsp;<span class="screen-reader-text">(lien externe)</span></a>.</li>
  <li>Je partage quelques pièces de mon travail créatif passé sur <a href="https://thenounproject.com/creator/kloh/" rel="me external">Noun Project&nbsp;<span class="screen-reader-text">(lien externe)</span></a>, <a href="https://www.flickr.com/photos/klohfr" rel="me external">Flickr&nbsp;<span class="screen-reader-text">(lien externe)</span></a> ou encore <a href="https://www.youtube.com/user/klohFR" rel="me external">YouTube&nbsp;<span class="screen-reader-text">(lien externe)</span></a>.</li>
  <li>Vous pouvez retrouver certains des supports de mes conférences et prises de parole sur <a href="https://speakerdeck.com/kloh" rel="me external">Speaker Deck&nbsp;<span class="screen-reader-text">(lien externe)</span></a> ou <a href="https://fr.slideshare.net/klohFR" rel="me external">SlideShare&nbsp;<span class="screen-reader-text">(lien externe)</span></a> (pour les plus anciennes).</li>
  <li>En tant qu’amateur de culture, je note et évalue films, musiques, livres… sur <a href="https://www.senscritique.com/kloh" rel="me external">SensCritique&nbsp;<span class="screen-reader-text">(lien externe)</span></a>. Je partage aussi ma collection de bandes dessinées sur <a href="https://www.bdgest.com/online/collection?IdUser=246966&IdCollection=1" rel="me external">BDGest’&nbsp;<span class="screen-reader-text">(lien externe)</span></a> et mon suivi de visionnage de séries sur <a href="https://www.betaseries.com/membre/kloh" rel="me external">BetaSerie&nbsp;<span class="screen-reader-text">(lien externe)</span></a>.</li>
  <li>Enfin, étant un grand joueur dans l’âme, je partage ma collection de jeux de sociétés sur <a href="https://www.myludo.fr/#!/profil/luc-poupard-110060" rel="me external">Myludo&nbsp;<span class="screen-reader-text">(lien externe)</span></a> et joue aussi régulièrement sur <a href="https://boardgamearena.com/player?id=92087475" rel="me external">Board Game Arena&nbsp;<span class="screen-reader-text">(lien externe)</span></a>. Les jeux vidéo ne sont pas en reste et vous pouvez me croiser sur <a href="https://steamcommunity.com/id/vgr-kloh" rel="me external">Steam&nbsp;<span class="screen-reader-text">(lien externe)</span></a> mais aussi surtout sur Xbox sous le pseudo <a href="https://www.xbox.com/fr-CH/play/user/VGR%20kloh" rel="me external">VGR kloh (connexion requise)&nbsp;<span class="screen-reader-text">(lien externe)</span></a>.</li>
</ul>
