---
layout: layouts/base.njk
title: Crédits
permalink: credits/
---

<h1>À propos de ce site</h1>

<p>Tous les contenus de ce site vous sont livrés le plus simplement du monde avec du <abbr title="HyperText Markup Langage" lang="en">HTML</abbr> et du <abbr title="Cascading Style Sheet" lang="en">CSS</abbr> respectant les recommandations du <a href="https://www.w3.org/" rel="external"><abbr title="World Wide Web Consortium" lang="en">W3C</abbr> <span class="screen-reader-text">(lien externe)</span></a>.<br />
Une attention particulière est portée à l’accessibilité. Si jamais vous rencontrez le moindre problème dans votre navigation n’hésitez pas à <a href="/contact/">me contacter</a>&nbsp;!</p>

<p>Ce site est totalement statique, généré avec <a href="https://www.11ty.dev/" rel="external">Eleventy <span class="screen-reader-text">(lien externe)</span></a> avec l’aide du kit de démarrage <a href="https://github.com/ianrose/deventy" rel="external">deventy <span class="screen-reader-text">(lien externe)</span></a>.</p>

<p>Les polices de caractères utilisées sont&nbsp;:</p>
<ul>
  <li>les <a href="https://jonneal.dev/system-font-css/" rel="external">polices systèmes <span class="screen-reader-text">(lien externe)</span></a> pour le texte courant&nbsp;;</li>
  <li>la <a href="https://mozilla.github.io/Fira/" rel="external">Fira Sans <span class="screen-reader-text">(lien externe)</span></a> pour les titres&nbsp;;</li>
  <li>la <a href="https://mozilla.github.io/Fira/" rel="external">Fira Mono <span class="screen-reader-text">(lien externe)</span></a> pour les blocs de code.</li>
</ul>

<h2>Politique de confidentialité</h2>
<p>Ce site ne récolte absolument <strong>aucune</strong> donnée personnelle.<br />
Il n’y a pas de cookie, pas de traqueur, pas d’outil d’analyse de trafic.<br />
Il n’y a pas non plus de contenu embarqué depuis un site ou service tiers, afin d’éviter tout pistage indésirable lors de votre visite.<br />
La totalité des images, vidéos, polices de caractères, fichiers… utilisés sont hébergés sur le site.</p>

<h2>Propriété intellectuelle</h2>
<p>Sauf mention contraire explicite, le contenu publié sur ce site est mis à disposition selon les termes de la <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.fr" rel="external">licence Creative Commons BY-NC-SA 4.0 <span class="screen-reader-text">(lien externe)</span></a> (Attribution - Pas d’Utilisation Commerciale - Partage dans les Mêmes Conditions 4.0 International). Il est donc possible de le reproduire et le diffuser sous réserve d’en citer la paternité (c’est à dire <a href="https://www.kloh.ch">Luc Poupard</a>), ne pas en faire un usage commercial et en cas de modification, vous devez le diffuser sous les mêmes conditions.</p>
<p>La photographie du menu principal a été prise lors de Paris Web 2023 par <a href="https://www.once-upon-a-pics.com/" rel="external">Aurore Trélaün <span class="screen-reader-text">(lien externe)</span></a>, qui m’en a accordé gracieusement le droit d’usage.</p>

<h2>Hébergement</h2>
<address>
<a href="https://www.infomaniak.com/fr" rel="external">Infomaniak <span class="screen-reader-text">(lien externe)</span></a><br />
25 Rue Eugène Marziano<br />
1227 Carouge<br />
Suisse
</address>
