---
layout: layouts/base.njk
title: Expériences
permalink: experiences/

---

<h1>Expériences présentes et passées</h1>

<h2>Actuellement</h2>

<h3>Développeur WordPress chez <a href="https://proton.me/" rel="external">Proton AG <span class="screen-reader-text">(lien externe)</span></a></h3>
<div>Depuis <time>janvier 2021</time></div>
<ul>
  <li>Développement et maintenance des sites statiques sur Astro (avec React et Tailwind)</li>
  <li>Développement et maintenance des sites WordPress</li>
  <li>Développement et maintenance des thèmes et extensions WordPress</li>
  <li>Amélioration continue (qualité, <abbr title="Search engine optimisation" lang="en">SEO</abbr>…)</li>
</ul>

<h3>Designer front-end autodidacte</h3>
<div>Depuis <time>2003</time></div>
<ul>
  <li>Conception d’identité graphique&nbsp;: logo, charte graphique, web design</li>
  <li>Intégration <abbr title="HyperText Markup Langage" lang="en">HTML</abbr>/<abbr title="Cascading Style Sheet" lang="en">CSS</abbr> de sites web et d’e-mails</li>
  <li>Rédaction de documentation (convention de codage, charte d’intégration) et guides utilisateurs</li>
</ul>

<h2>Expériences passées</h2>

<h3>Designer front-end chez <a href="https://www2.cdi.ch" rel="external">CDI SA <span class="screen-reader-text">(lien externe)</span></a></h3>
<div>De mai 2015 à décembre 2020</div>
<ul>
  <li>Intégration HTML/CSS d’applications web en <abbr title="Dot Net" lang="en">.NET</abbr> et de sites WordPress</li>
  <li>Gestion et maintenance d’un parc de sites WordPress</li>
  <li>Création de thèmes et extensions WordPress sur mesure</li>
  <li>Organisation de meetups internes</li>
</ul>

<h3>Chef de projet web et mobile chez <a href="https://www.carrefour-banque.fr" rel="external">Carrefour Banque <span class="screen-reader-text">(lien externe)</span></a></h3>
<div>De mai 2011 à octobre 2012</div>
<ul>
  <li>Expression des besoins métiers (marketing et fonctionnels), rédaction de briefs agence</li>
  <li>Définition des parcours clients web et mobile, conception ergonomique</li>
  <li>Pilotage des budgets</li>
  <li>Coordination de prestataires</li>
  <li>Veille technique, réalisation de benchmarks</li>
  <li>Transfert de compétences auprès des collaborateurs</li>
</ul>

<h3>Web designer chez <a href="https://www.carrefour-banque.fr" rel="external">PASS Services Financiers / Carrefour Banque <span class="screen-reader-text">(lien externe)</span></a></h3>
<div>De mars 2009 à avril 2011</div>
<ul>
  <li>Conception graphique et éditoriale de bannières, newsletters et fiches produit</li>
  <li>Intégration HTML/CSS d’e-mailings, pages web et mini-sites</li>
  <li>Gestion de campagnes (bannières, e-mailing, affiliation, liens sponsorisés, référencement naturel)</li>
  <li>Gestion des évolutions du <abbr title="Content Management System" lang="en">CMS</abbr></li>
</ul>

<h3>Web designer indépendant, affilié à la <a href="https://www.lamaisondesartistes.fr" rel="external">Maison des Artistes <span class="screen-reader-text">(lien externe)</span></a></h3>
<div>De novembre 2007 à septembre 2012</div>
<ul>
  <li>Création de sites web et e-mailings</li>
  <li>Conception graphique et ergonomique</li>
  <li>Intégration HTML/CSS</li>
</ul>

<h3>Web designer en alternance chez <a href="https://www.essilor.com/fr" rel="external">Essilor <span class="screen-reader-text">(lien externe)</span></a></h3>
<div>De septembre 2006 à octobre 2007</div>
<ul>
  <li>Conception graphique et ergonomique d’applications .NET</li>
</ul>

<h3>Intégrateur HTML en stage chez <a href="https://www.cbi-multimedia.com" rel="external">CBi Multimédia <span class="screen-reader-text">(lien externe)</span></a></h3>
<div>De juin à juillet 2005</div>
<ul>
  <li>Intégration HTML/CSS de sites web et newsletters</li>
  <li>Déclinaisons graphiques</li>
</ul>

<h2>Certifications</h2>

<h3>Maîtrise de la qualité en projet Web – <a href="https://directory.opquast.com/fr/certificat/OKQ9HT/" rel="external">Expert (955 points) <span class="screen-reader-text">(lien externe)</span></a></h3>
<div>En janvier 2023<br />
Formation certifiante dispensée par <a href="https://www.opquast.com/" rel="external">Opquast <span class="screen-reader-text">(lien externe)</span></a></div>

<h3>Maîtrise de la qualité en projet Web – <a href="https://directory.opquast.com/fr/certificat/ASL7K0/" rel="external">Expert (970 points) <span class="screen-reader-text">(lien externe)</span></a></h3>
<div>En octobre 2020<br />
Formation certifiante dispensée par <a href="https://www.opquast.com/" rel="external">Opquast <span class="screen-reader-text">(lien externe)</span></a></div>

<h3>Expert Accessiweb en Évaluation 2.1</h3>
<div>En juin 2010<br />
Formation de 7 jours dispensée par l’association <a href="https://www.braillenet.org/" rel="external">Braillenet <span class="screen-reader-text">(lien externe)</span></a></div>

<h2>Formations</h2>

<h3>Référent Assurance Qualité Web</h3>
<div>En octobre 2022<br />
Formation de 7 jours dispensée par <a href="https://www.opquast.com/" rel="external">Opquast <span class="screen-reader-text">(lien externe)</span></a></div>

<h3>Licence professionnelle <abbr title="Activités et Techniques de Communication">ATC</abbr> option Animation et Gestion de Sites Web</h3>
<div>D’octobre 2006 à octobre 2007<br />
À l’<a href="https://iutb.univ-paris13.fr/" rel="external">IUT de Bobigny – Université Paris 13 <span class="screen-reader-text">(lien externe)</span></a> à Bobigny, Seine-Saint-Denis, France</div>

<h3><abbr title="Brevet de Technicien Supérieur">BTS</abbr> Communication Visuelle option Multimédia</h3>
<div>De septembre 2004 à juin 2006<br />
Au <a href="http://lyceecotton.net/" rel="external">lycée Eugénie Cotton <span class="screen-reader-text">(lien externe)</span></a> à Montreuil-sous-Bois, Seine-Saint-Denis, France</div>

<h3>Baccalauréat <abbr title="Sciences et Technologies Industrielles">STI</abbr> spécialité Arts Appliqués</h3>
<div>De septembre 2002 à juin 2004<br />
Au <a href="http://claveille.org/" rel="external">lycée Albert Claveille <span class="screen-reader-text">(lien externe)</span></a> à Périgueux, Dordogne, France</div>
