---
layout: layouts/base.njk
title: Luc Poupard · Designer front-end
permalink: /
---

<h1>Luc Poupard · designer front-end</h1>

<p>Bonjour, je m’appelle Luc et je suis designer front-end en Suisse romande.</p>
<p>Depuis plus de {{ "2007-11" | yearsToNow }} ans, je conçois et traduis en <abbr title="HyperText Markup Langage" lang="en">HTML</abbr> et <abbr title="Cascading Style Sheet" lang="en">CSS</abbr> – avec une once de JavaScript au besoin – des interfaces graphiques de sites et applications web, en portant une attention particulière à l’accessibilité et la <a href="https://directory.opquast.com/fr/certificat/OKQ9HT/" rel="external">qualité <span class="screen-reader-text">(lien externe)</span></a>.</p>
<p>Je suis un touche-à-tout passionné, curieux et soucieux de bien faire les choses. J’aime aussi apprendre et partager.<br />
À ce titre, je participe volontiers à des meetups et conférences, à la fois comme auditeur, orateur ou organisateur. Je fais notamment partie de l’association <a href="https://www.paris-web.fr/" rel="external">Paris Web <span class="screen-reader-text">(lien externe)</span></a> depuis 2018 et j’en suis le président depuis mai 2020.</p>
